UAVSim_Mac_v1.0.0/UAVSim_Data/sharedassets4.assets.resS filter=lfs diff=lfs merge=lfs -text
UAVSim_Mac_v1.0.0/UAVSim_Mac_v1.0.0.app/Contents/Resources/Data/sharedassets4.assets.resS filter=lfs diff=lfs merge=lfs -text
